# Node.js
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
venv/
.venv/
ENV/
env/
__pycache__/
*.py[cod]
*$py.class

# Environments & Secrets
.env
.env.local
.env.*.local
*.env

# Editors/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
